<!-- <p>team works!</p> -->

<div class="container">
    <h2 class="text-center">Our Team</h2>
    <hr>
    <div class="row">
        <div class="card col-md-4 animated fadeIn">
            <img class="card-img-top" src="img/team-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-md-4 animated fadeIn">
            <img class="card-img-top" src="img/team-2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-md-4 animated fadeIn">
            <img class="card-img-top" src="img/team-3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    
</div>
  
<br>
<br>
