<!-- <p>home works!</p> -->

<div class="jumbotron bgheader no-radius">
    <div class="container">
        <div class="row headerImageFont">
            <div class="col-md-6 animated bounceInLeft">
                <h1>Best Quality of wines</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, sint! Unde temporibus quibusdam eveniet, autem, est distinctio odit soluta nulla sequi facere veniam! Harum numquam deserunt odio velit, ut iste.</p>
                <button class="btn bg-custom no-radius">Read More</button>
            </div>
            <div class="col-md-6 animated bounceInRight">
                <h1>Best Quality of wines</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, sint! Unde temporibus quibusdam eveniet, autem, est distinctio odit soluta nulla sequi facere veniam! Harum numquam deserunt odio velit, ut iste.</p>
                <button class="btn bg-custom no-radius">Read More</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="text-center">Categories</h2>
    <hr>
    <div class="row">
        <div class="col-md-3 myBox">
            <img src="img/cat1.jpg" alt="category 1"/>
            <h4>Category 1</h4>
        </div>
        <div class="col-md-3 myBox">
            <img src="img/cat2.jpg" alt="category 2"/>
            <h4>Category 2</h4>
        </div>
        <div class="col-md-3 myBox">
            <img src="img/cat3.jpg" alt="category 3"/>
            <h4>Category 3</h4>
        </div>
        <div class="col-md-3 myBox">
            <img src="img/cat4.jpg" alt="category 4"/>
            <h4>Category 4</h4>
        </div>
    </div>
    <h2 class="text-center">Featured Products</h2>
    <hr>
    <div class="row">
        <div class="col-md-3 myBox">
            <img src="assets/img/cat1.jpg" alt="product 1"/>
            <h4>Product 1</h4>
            <button class="btn bg-custom no-radius add">Add to Cart</button>
        </div>
        <div class="col-md-3 myBox">
            <img src="assets/img/cat2.jpg" alt="product 2"/>
            <h4>Product 2</h4>
            <button class="btn bg-custom no-radius add">Add to Cart</button>
        </div>
        <div class="col-md-3 myBox">
            <img src="assets/img/cat3.jpg" alt="product 3"/>
            <h4>Product 3</h4>
            <button class="btn bg-custom no-radius add">Add to Cart</button>
        </div>
        <div class="col-md-3 myBox">
            <img src="assets/img/cat4.jpg" alt="product 4"/>
            <h4>Product 4</h4>
            <button class="btn bg-custom no-radius add">Add to Cart</button>
        </div>
    </div>
</div>
<br>
